<div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-10">
        <h2>Users</h2>
      </div>
      <div class="col-lg-2">
        <div class="text-right m-sm">
          <button type="button" class="b-r-md btn-dark" routerLink="/user/add">New User</button>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <!-- <div class="ibox-title">
              <h5>Basic Table</h5>
  
              <div ibox-tools></div>
          </div> -->
          <div class="ibox-content">
            <table class="table">
              <colgroup>
                <col style="width:50%">
                <col style="width:50%">
              </colgroup>
              <thead>
                <tr>
                  <th>UserName</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users?.result">
                  <td>{{user.username}}</td>
                  <!-- <td>{{user.password}}</td> -->
                  <td><button type="button" class="b-r-md btn-dark" [routerLink]="['/user', user.username]">edit</button></td>
                </tr>
              </tbody>
            </table>
          </div>

          
        </div>
      </div>
  
    </div>
  </div>