<div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-12">
        <h2>Routes</h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <!-- <div class="ibox-title">
              <h5>Basic Table</h5>
  
              <div ibox-tools></div>
          </div> -->
          <div class="ibox-content">
            <table class="table">
              <colgroup>
                <col style="width:50%">
                <col style="width:50%">
              </colgroup>
              <thead>
                <tr>
                  <th>Topic</th>
                  <th>Nodes</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let route of routes?.result?.objects">
                  <td>{{route.topic}}</td>
                  <td>{{route.nodes}}</td>
                </tr>
                <tr *ngIf="!routes?.result?.total_num">
                  <td colspan="2">No Data</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
      <div class="pagination_container">
        <div class="col-lg-12 col-12">
          <pagination [boundaryLinks]="true" [totalItems]="routes?.result?.total_num" [rotate]="true" (ngModel)="condition.curr_page"
          [itemsPerPage]="condition.page_size" [maxSize]="10" (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"> 
          </pagination>
        </div>
      </div>
  
    </div>
  </div>