target/
project/project/
.idea/
.history
.metadata
.project
**/target/
**/**/target/
**/*.iml
logs/
tmp/
dist/
*-dev.conf
*-dev.xml
.cache
var/
RUNNING_PID
src/main/resources/VERSION.NFO
src/main/resources/*
**/node_modules/
/scripts/ssl/mqttclient.*
/scripts/ssl/mqttserver.*
/main/public/uploaded_file
Californium.properties
package-lock.json
.sbtopts

**/VERSION.NFO
src/main/resources/smqd-version.conf
plugins/*.jar

passwd

# macOS
.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings
