<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      
      <div class="ibox-title">
        <div class="row">
          <div class="col-lg-12">
            Subscribe Client
          </div>
        </div>
        <form [formGroup]="option" novalidate>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12 row">
              <div class="col-lg-4">
                <div class="form-group" >
                  <label>host</label>
                  <input class="form-control b-r-md dark-bg" formControlName="host" placeholder="127.0.0.1">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group" >
                  <label>port</label>
                  <input class="form-control b-r-md dark-bg" formControlName="port" placeholder="8086">
                </div>
              </div>    
              <div class="col-lg-4">
                <div class="form-group" >
                  <label>client id</label>
                  <input class="form-control b-r-md dark-bg" formControlName="clientId">
                </div>
              </div>
            </div>

            <div class="col-lg-12 row">
              <div class="col-lg-4">
                <div class="form-group" >
                  <label>username</label>
                  <input class="form-control b-r-md dark-bg" formControlName="username">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group" >
                  <label>password</label>
                  <input class="form-control b-r-md dark-bg" formControlName="password">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group" >
                    <label>connect</label>
                    <button *ngIf="!state" class="b-r-md dark-bg connect_{{state}}" type="button" (click)="connectMqtt(option.value)" [disabled]="state" >connect</button>
                    <button *ngIf="state" class="b-r-md dark-bg connect_{{state}}" type="button" (click)="disConnectMqtt()" [disabled]="!state">disconnect</button>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group" >
                <label>will</label>
                <textarea formControlName="will" class="form-control b-r-md dark-bg" placeholder='{"topic": "/test", "payload": "Client is down", "qos": 1, "retain": true}'></textarea>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        
        <div class="ibox-title">
          <div class="row">
            <div class="col-lg-12">
              Subscribe
            </div>
          </div>
          <form [formGroup]="sub" novalidate>
          <div class="ibox-content">
            <div class="row">
              <div class="col-lg-12 row">
                <div class="col-lg-5">
                  <div class="form-group" >
                    <label>topic</label>
                    <input class="form-control b-r-md dark-bg" formControlName="topic" placeholder="topic">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group" >
                    <label>QoS</label>
                    <select class="form-control b-r-md dark-bg" formControlName="qos">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>&nbsp;</label>
                    <button class="b-r-md dark-bg" type="button" (click)="subscribe(sub.value)"> subscribe</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width:20%">Topic</th>
                      <th style="width:5%">QoS</th>
                      <th style="width:15%">Time</th>
                      <th style="width:5%">Del</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let subscription of subscriptionList; index as i;">
                        <td>{{subscription.topic}}</td>
                        <td>{{subscription.qos}}</td>
                        <td>{{subscription.time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td (click)="unSubscribe(subscription.subscription, i)">X</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      
      <div class="ibox-title">
        <div class="row">
          <div class="col-lg-12">
            Received Messages
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-11 row">
              <table class="table">
                <thead>
                    <tr>
                      <th style="width:20%">Message</th>
                      <th style="width:10%">Topic</th>
                      <th style="width:15%">QoS</th>
                      <th style="width:5%">Time</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let sub of subList">
                        <td>{{sub.message}}</td>
                        <td>{{sub.topic}}</td>
                        <td>{{sub.qos}}</td>
                        <td>{{sub.time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                      </tr>
                  </tbody>
              </table>
            </div>
            <div class="col-lg-1">
              <button class="b-r-md dark-bg" type="button" (click)="resetList()">clear</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
