/** top navigation **/
.navbar-fixed-top, .navbar-static-top{
  background-color: #2f4050 !important;
}

/** end top navigation **/

/** left navigation **/
.nav .bar-title {
  z-index: 1003;
  padding-left: 40px;
  height: 61px;
  line-height: 61px;
  // width: 220px;
  border-bottom: 1px solid #f3f3f4;
}
/** end left navigation **/


