<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <h2>Subscriptions</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <!-- <div class="ibox-title">
            <h5>Basic Table</h5>

            <div ibox-tools></div>
        </div> -->
        <div class="ibox-content">
          <table class="table">
            <colgroup>
              <col style="width:40%">
              <col style="width:60%">
            </colgroup>
            <thead>
              <tr>
                <th>Topic</th>
                <th>Subscriber</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subscription of subscriptions?.result?.objects">
                <td>{{subscription.topic}}</td>
                <td>
                  <table class="table">
                    <colgroup>
                      <col style="width:10%">
                      <col style="width:45%">
                      <col style="width:45%">
                    </colgroup>
                    <tbody>
                      <tr *ngFor="let subscriber of subscription?.subscribers">
                        <td>{{subscriber.qos}}</td>
                        <td class="text-left" *ngIf="subscriber.actor">{{subscriber.actor}}</td>
                        <td class="text-left" *ngIf="subscriber.actor"></td>
                        <td class="text-left" *ngIf="subscriber.clientId">{{subscriber.clientId}}</td>
                        <td class="text-left" *ngIf="subscriber.channelId">{{subscriber.channelId}}</td>
                      </tr>
                    </tbody>
                    </table>
                </td>
              </tr>
              <tr *ngIf="!subscriptions?.result?.total_num">
                <td colspan="3">No Data</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="pagination_container">
      <div class="col-lg-12 col-12">
        <pagination [boundaryLinks]="true" [totalItems]="subscriptions?.result?.total_num" [rotate]="true" (ngModel)="condition.curr_page"
        [itemsPerPage]="condition.page_size" [maxSize]="10" (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"> 
        </pagination>
      </div>
    </div>

  </div>
</div>