<div class="content_section1 bg_gray">
	<div class="container">
		
		<div class="login_field">
			<h1 class="logo"><span class="sr-only">T2X</span></h1>

			<form [formGroup]="myForm" novalidate>
				<div class="inputs">
					<input type="text" class="form-control id" formControlName="user" placeholder="ID" autocomplete="user"
					[ngClass]="{'is-invalid': myForm.controls.user.errors && (myForm.controls.user.touched || myForm.controls.user.dirty)}" 
					maxlength="20">
					<div class="invalid-feedback">
						<strong *ngIf="myForm.controls['user']?.errors?.required">ID is required</strong>
						<strong *ngIf="myForm.controls['user']?.errors?.minlength">ID must be greated than {{myForm.controls['user']?.errors?.minlength.requiredLength}} charator.
							{{myForm.controls['user']?.errors?.minlength.requiredLength - myForm.controls['user']?.errors?.minlength.actualLength}} more character required.
						</strong>
					</div>

					<input type="password" class="form-control pw" formControlName="password" placeholder="PASSWORD" autocomplete="password"
					[ngClass]="{'is-invalid': myForm.controls.password.errors && (myForm.controls.password.touched || myForm.controls.password.dirty)}" maxlength="20">
					<div class="invalid-feedback">
						<strong *ngIf="myForm.controls['password']?.errors?.required">PASSWORD is required</strong>
						<strong *ngIf="myForm.controls['password']?.errors?.minlength">PASSWORD must be greated than {{myForm.controls['password'].errors?.minlength.requiredLength}} charator.
							{{myForm.controls['password']?.errors?.minlength.requiredLength - myForm.controls['password']?.errors?.minlength.actualLength}} more character required.
						</strong>
					</div>
				
					<div class="form-footer">
						<button type="submit" class="btn btn-primary btn-block" [disabled]="myForm.invalid" (click)="login(myForm.value)">Log In</button>
					</div>
					<label class="check_l">Remember my ID</label>
				</div>

				<div class="btns_area">
					<div class="left">
						Forgotten your <a class="font_blue" routerLink="/login/findId">ID</a> or <a class="font_blue" routerLink="/login/findPw">Password</a>?
					</div>
					<div class="right">
						<a class="font_blue" routerLink="/join">Create an account</a>
					</div>
				</div>
				
			</form>
		</div>
	</div>
</div>