<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <h2>Overview</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4>Broker</h4>
    </div>
    
    <div class="col-lg-3">
      <div class="widget style1 white-bg">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-map-signs fa-4x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Version </span>
            <h3 class="font-bold">{{version?.code == 0 ? version?.result?.version : ''}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="widget style1 white-bg">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-sitemap fa-4x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Clients </span>
            <h2 class="font-bold">{{clientCount}}</h2>
          </div>
        </div>
      </div>
    </div>
   
    <div class="col-lg-3">
      <div class="widget style1 white-bg">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-tasks fa-4x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Load </span>
            <h2 class="font-bold" *ngIf="metrics">{{metrics[keyNames.cpu] | number: '1.2-2'}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="widget style1 white-bg">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-microchip fa-4x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Threads </span>
            <h2 class="font-bold" *ngIf="metrics">{{metrics[keyNames.thread] | number}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Nodes(1)-->
  <div class="row">
    <div class="col-lg-12">
      <h4>Nodes(1)</h4>
    </div>
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Data Center</th>
                <th>Address</th>
                <th>API Address</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let node of nodes?.result">
                <td>{{node.nodeName}}</td>
                <td>{{node.dataCenter}}</td>
                <td>{{node.address}}</td>
                <td>{{node.api.address}}</td>
                <td>{{node.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Metrics-->
  <div class="row">
    <div class="col-lg-12">
        <h4>Metrics</h4>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-content">  
          <table class="table">
            <thead>
              <tr>
                <th>The MQTT Data</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="metrics">
              <tr *ngFor="let key of metrics | keys" [hidden]="!key.startsWith(keyNames.mqtt)">
                <td>{{key | slice: keyNames.mqtt.length + 1}}</td>
                <td class="text-right" *ngIf="!key.includes('messages.byte')">{{metrics[key]}}</td>
                <td class="text-right" *ngIf="key.includes('messages.byte')">{{metrics[key] | byte: '1.0-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-content">  
          <table class="table">
            <thead>
              <tr>
                <th>The Websocket Data</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="metrics">
              <tr *ngFor="let key of metrics | keys" [hidden]="!key.startsWith(keyNames.ws)">
                <td>{{key | slice: keyNames.ws.length + 1}}</td>
                <td class="text-right" *ngIf="!key.includes('messages.byte')">{{metrics[key]}}</td>
                <td class="text-right" *ngIf="key.includes('messages.byte')">{{metrics[key] | byte: '1.0-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-content">  
          <table class="table">
            <thead>
              <tr>
                <th>The JVM Data</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="metrics">
              <tr *ngFor="let key of metrics | keys" [hidden]="!(key.startsWith(keyNames.jvm) || key.startsWith(keyNames.fd))">
                <ng-container *ngIf="key.startsWith(keyNames.fd)">
                  <td>fd</td>
                  <td class="text-right">{{metrics[key]}}</td>
                </ng-container>
                <ng-container *ngIf="!key.startsWith(keyNames.fd)">
                  <td>{{key | slice: keyNames.jvm.length + 1}}</td>
                  <td class="text-right" *ngIf="!key.includes('total')">{{metrics[key] | byte: '1.2-2'}}</td>
                  <td class="text-right" *ngIf="key.includes('total')">{{metrics[key] | byte: '1.2-2'}}</td>
                </ng-container>
              </tr>
            </tbody>
            <!-- <tbody *ngIf="metricsJvm">
              <tr *ngFor="let key of metricsJvm | keys">
                <td>{{key}}</td>
                <td class="text-right" *ngIf="key != 'total' && key != 'fd'">{{metricsJvm[key] / 1000000 | number: '1.2-2'}} MB</td>
                <td class="text-right" *ngIf="key == 'total'">{{metricsJvm[key] / 1000000000 | number: '1.2-2'}} GB</td>
                <td class="text-right" *ngIf="key == 'fd'">{{metricsJvm[key]}} ea</td>
              </tr>
            </tbody> -->
          </table>
        </div>
      </div>
    </div>
  </div>

</div>